@charset "UTF-8";

input[type=text] {
	color: red;
}

input:hover, textarea:hover {
	background: skyblue;
}

input[type=text]:focus, input[type=email]:focus {
	font-size: 120%;
}

label {
	display: block;
	padding: 10px;
}

label span {
	display: inline-block;
	width: 90px;
	text-align: right;
	padding: 10px;
}