@charset "UTF-8";

div {
	display: inline-block;
	background-color: olivedrab;
	color: white;
	padding: 5px
	}

#rotate {
	transform: rotate(20deg);
}

#skew{
	transform: skew(0deg, -20deg);
}

#translate {
	transform: translateY(100px);
}

#scale {
	transform: scale(3,1);
}

#rotate:hover {
	transform: rotate(80deg);
}

#skew:hover{
	transform: skew(0deg, -60deg);
}

#translate:hover {
	transform: translate(50px, 100px);
}

#scale:hover {
	transform: scale(4,2);
}