p {
    background-color: yellow;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: 20px solid lightgray;
}

#round {
    border-image: url("../images/border.png") 30 round;
}#repeat {
    border-image: url("../images/border.png") 30 repeat;
}#stretch {
      border-image: url("../images/border.png") 30 stretch;
  }
